@CHARSET "ISO-8859-1";

.formtable {
	width: 400px;
	padding: 10px;
	border: 1px solod blue;
}

input[type=text] {
	width: 250px;
}

textarea {
	width: 300px;
	height: 200px;
}

.errors {
	font-size: small;
	color: red;
	margin-left: 10px;
}

p.error {
	color: red;
	margin-left: 10px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

table.offers {
	padding: 20 px;
	border: 1 px solid gray;
}

